.menu{
    height: 50px;
    background-color: darkblue;
}


.register{
    position:absolute;
    left: 40%;
    top: 20%;
    border: 1px black;
}

.item{
    color: white;
}

.login{
    position:absolute;
    left: 40%;
    top: 40%;
    border: 1px black;
}

.footer{

    position: absolute;
    top:97%;
}

